<div class="container">
  <div class="columns is-multiline is-centered">
    <% flash.each do |name, msg| -%>

    <div class="column is-half">
      <div class="notification has-text-centered"<%= name %>">
        <%= msg %>
      </div>
    </div>

    <% end %>
  </div>
</div>
