// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.label {
  margin-top: 1em;
}

.title.is-2 {
  margin-top: 1em;
}

.column {
  margin-top: 1em;
}

#form_ingredient {

}
